html{
    background: black;
  }
  body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: whitesmoke;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
  
  
  div{
    background-color: black;
  }
  
  .content{
    width: 100%;
    height: 100%;
    /* border: 2px solid red; */
    padding: 1%;
  /*   align-items: center; */
  }
  .recommendation{
    margin-top: 5%;/* 2월 28일 변경사항 */
    width: 90%;
    margin-left: 5%;
    /* border: 2px solid plum; */
  }
  .recommendation h1{
    text-align: center;
    font-weight: bold;
  }
  .recommendation p{
    text-align: center;
    
  }
  .click-recommend{
    text-align: center;
    clear: both;
    font-size: x-large;
    margin-top: 5%;
    margin-left: 20%;
    float: left;
    
  }
  .watch-by-myself{
    float: right;
    text-align: center;
    font-size: x-large;
    margin-top: 5%;
    margin-right: 20%;
  }
  /* Basic.js에 관한 css */
  .goBack{
   float: left;
   /* border:  2px solid plum; */
  }
  .search{
    background-color: black;
    width: 100%;
    height: 30%;
    justify-content: center;
    align-items: center;
    /* border: 2px solid orange; */
    float: left;
  }
  
  
  .searchbox{
    margin-right: 5%;
    background-color: whitesmoke;
  }
  
  #button-addon2{
    background-color: #ffce3d;
    color: black;
  }
  .mt-4, .col-sm-12{
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  .movie-list{
    width: 90%;
    margin-left: 5%;
    /* border: 2px solid salmon; */
  }
  .detail-search{
    margin-top: 5%;
    font-size: x-large;
    font-weight: bolder; /* margin-left 지움 2월 28일 */
  }
  /* 변경됨 */
  .row{
    float: left;
    width: 95%;
    margin: auto;
    display: block;
    margin-left: 2%;
    /* border: 2px solid aquamarine; */
  }
  .nav-link{
    font-size: medium;
    border: 3px solid #ffce3d;
    color: whitesmoke;
  }
  .nav-link:hover{
    font-size: medium;
    color: #F88158;
  }
  /* 애니메이션 시작할 때 적용할 css */
  .tabani-enter{
    opacity: 0.01;
  }
  /* 애니메이션 동작할 때 적용할 css */
  .tabani-enter-active{
    opacity: 1;
    transition: all 300ms ease-in;
  }
  .pre-page img{
    width: 5%;
    height: 10%;
    float: left;
    /* border: 2px dotted #e91e63; */
    border-radius: 10px;
    position: relative;
    transform: translateY(600%); /* 23일 오후 2시 변경사항 */
  
  }
  .pre-page img:hover{
    opacity: .7;
  }
  
  .next-page img{
    width: 5%;
    height: 10%;
    float: left;
    /* border: 2px dotted #e91e63; */
    border-radius: 10px;
    position: relative;
    transform: translateY(600%);
  }
  .next-page img:hover{
    opacity: .7;
  }
  #dropdown-item-button{
    background-color: orange;
    font-weight: bold;
  }
  .movieposter{
    clear: both;
    display: flex; /* 2022.03.08 수정 사항 */
    flex-wrap: wrap;
    justify-content: space-between; /* 이까지 */
    max-width: 100%;
    /* margin-top: 3%; */
    /* border: 2px solid #3296ff; */
  }
  .img-responsive2{  /* 3월 16일 변경사항 전체 */
    width: 80%;
    margin-left: 10%;
    margin-top: 5%;
    margin-bottom: 10%;
    transition: width 0.5s;
    float: left;
  }
  .img-responsive{
    width: 15%;
    margin-left: 3%; /* 3월 16일 변경사항 */
    margin-top: 5%;
    margin-bottom: 2%;
    transition: width 0.5s;
    float: left;
  }
  .img-responsive:hover{
    border:3px solid orange;
    width: 18%; /* 03.16변경ㅅ항 */
  }
  .img-responsive_clicked{
    width: 15%; /* 03.16변경사항 */
    margin-left: 5.5%;
    margin-top: 5%;
    opacity: .5;
    border: 5px solid #e91e63;
  }
  
  .img-responsive2:hover{
    border:3px solid orange;
    width: 90%; /* 03.16변경ㅅ항 */
  }
  
  .current-numbers{
    text-align: right;
    margin-top: 3%;
  }
  .genresearch{
    margin-top: 3%;
  /*   margin-left: 3%; *//* 변경됨! */
  display: flex;
  flex-wrap: wrap;
  }
  .genresearch li{
   
    list-style-type: none;
    margin-right: 3.5%;
    margin-bottom: 1%;
    font-size: medium; 
    /* border: 2px solid plum; */
    transition: color 1s, font-size 1s;
    
  }
  .genresearch li:hover{
    transition: color 0.3s, font-size 1s;
    background-color: #F88158;
    padding: 5px;
    font-weight: bolder;
    font-size: large;
    border-radius: 5px;
    text-decoration: underline;/* 2월 28일 변경 */
  }
  .backtorecommend{
    text-align: center;
    clear: both;
    font-size: x-large;
    /* border: 2px solid #43C6DB; */
    padding-top: 2%;
    
  }
  
  #question{
    margin-top: 10%;
  }
  
  .watch-by-myself{
    float: right;
    text-align: center;
    font-size: x-large;
    margin-top: 5%;
    margin-right: 30%;
    margin-bottom: 2%;
  }
  .clickrecomm{
    background-color: orange;
    color: whitesmoke;
    font-weight: bold;
    margin-top: 1%;
  }
  .clickrecomm:hover{
    background-color: #F88158;
    color: whitesmoke;
  }
  .clickrecomm_disable{
    background-color: gray;
    color: whitesmoke;
    font-weight: bold;
    margin-top: 1%;
  }
  .clickrecomm_disable:hover{
    background-color: gray;
    color: whitesmoke;
  }
  
  footer{
    position: absolute;
    bottom: 0;
    margin-left:43%;
  }
  
  /* Detail.js에 해당하는 css */
  .detail-content{
    padding: 1%;
  }
  .detail-box{
    margin: auto;
  }
  .title-box{
    float: left;
    padding-left: 21%;
    padding-top: 3%;
    margin-bottom: 3%;
  }
  .detail-poster{
    float: left;
  }
  .detail-poster img{
    width: 50%;
  }
  .synopsis{
    clear: both;
    margin-top: 2%;
    margin: auto;
  /*   border: 2px solid salmon; */
    
  }
  .summary{
    max-width: 500px;
    width: 100%;
    border: white 3px;
  }
  .Tag-box{
    margin: auto;
  
  }
  .review-box{
    margin: auto;
  }
  .comment_list{
    list-style:none;
  }
  .button-box{
    margin: auto;
    text-align: center;
    margin-top: 2%;
  }
  .naver{
    background-color: green;
    color: whitesmoke;
    margin-left: 5px;
    font-weight: bolder;
  }
  .netflix{
    background-color: red;
    color: whitesmoke;
    margin-left: 5px;
    font-weight: bolder;
  }
  .watcha{
    background-color: #e91e63;
    color: whitesmoke;
    margin-left: 5px;
    font-weight: bolder;
  }
  
  /* 성별 그래프 */
  .sex_age_graph{
    clear: both;
    margin-top: 1%;
    margin: auto;
   /*  border: 2px solid #43C6DB; */
    padding: 3%;
  }
  .PieChart{
    width: 130px;
    margin-bottom: 10px;
  }
  .BarGraph{
    font-family: sans-serif;
    text-align: center;  
  }
  .Graph_1{
    float: left;
    padding-left: 20%;
  }
  .Graph_2{
    float: left;
    padding-left: 7%;
  }
  .Graph_3{
    clear: both;
  }
  .circle-f {
    float: left;
    background-color: #F88158;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-left: 2%;
    margin-top: 5px;
    /* border: 2px solid green; */
  }
  .desc-f{
    float: left;
    margin-left: 10px;
    /* border: 2px solid green; */
  }
  .sex-index{
    border: 2px solid #F88158;
    padding: 5px;
  }
  .circle-m {
    float: left;
    background-color: #43C6DB;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-left: 19%;
    margin-top: 5px;
  }
  .desc-m{
    float: left;
    margin-left: 10px;
  }
  .radar_graph tspan {fill: #FFFFFF !important;}