{% extends 'myApp/base_student.html' %}
{% block content%}
<h1>학생 전체 목록</h1>
<hr>
{{student_list}}
<hr>
<div class="list-group">
    {% for row in student_list %}
    <div class="list-group-item list-group-item-action">
        <b>{{ row.id }}</b> 
        <span>{{ row.s_name }}</span> 
        <a href="/myApp/{{ row.id }}/detail/" class="btn btn-primary">상세</a> 
        <a href="/myApp/{{ row.id }}/wipe/" class="btn btn-danger">삭제</a>
        <a href="/myApp/{{ row.id }}/modify/" class="btn btn-success">수정</a>
    </div>
    {% endfor %}
</div>
{% endblock %}